version: "3.9"

services:
  api:
    container_name: api
    image: server:latest
    ports:
      - "8080:8080"
    environment:
      #- ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_ENVIRONMENT=Development
      #- ASPNETCORE_HTTP_PORTS=8080
      - ASPNETCORE_URLS=http://+:8080
    build:
      context: .
      dockerfile: ./Dockerfile
    volumes:
      - ./ssl:/app/ssl
    networks:
      - app_network
    depends_on:
      - db

  db:
    container_name: db
    image: postgres:latest
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: app_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    networks:
      - app_network
    volumes:
      - postgres-data:/var/lib/postgresql

networks:
  app_network:
    driver: bridge

volumes:
  postgres-data: